:root{
  --main-blue-color: #313131;
  --main-bg-color: #1c1c1c;
  --second-bg-color: #1c1c1c;
}

html, body {
  width: 100%;
}

body { 
  margin: 0;
  font-size: 16px;
  color: #f2f2f2;
}

.heading{
  font-size: 30px;
  margin-top: 0px;
  padding: 10px;
  margin-bottom: -2px;
  text-align: left;
}

canvas { 
  display: block; 
}

#menuExpanded, #menuUnexpanded{
  position: absolute;
	top: 0px;
	right: 0px;
  width: 25%;
  min-width: 400px;
	max-height: 90vh;
  background-color: var(--main-bg-color);
	text-align: center;
	z-index: 100;
  font-size: 18px;
  display: none;
  border-radius: 0px 0px 0px 10px;
  overflow: auto;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #menuExpanded, #menuUnexpanded{
    width: 100%;
    min-width: auto;
    top: 60px;
  }
}

#menuUnexpanded{
  display: block;
  height: 40px;
  width: 240px;
  min-width: 240px;
  background-color: #212121;
  line-height: 40px;
  border-radius: 0px 0px 0px 10px;
  border: none;
  color: white;
  padding-bottom: 0px;
}

#menuUnexpanded:hover{
  text-decoration: underline;
}

.button{
  background-color: var(--main-blue-color);
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  color: white;
  margin: auto;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.button:hover{
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.input{
  background-color: var(--main-blue-color);
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
  color: #f2f2f2;
}

#closeMenu{
  width: 200px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: auto;
  background-color: #212121;
  color: white;
  position: absolute;
	z-index: 100;
	text-align: center;
	text-decoration: underline;
	top: 92vh;
	right: 100px;
	display: none; /*it's hidden by default, but if you open the menu, the close menu button becomes visible*/
}

#topMenus{
  height: 60px !important;
  line-height: 20px !important;
  font-size: 20px;
  text-align: center;
  background-color:rgba(0,0,0,.3);
  color: #dfdfdf91;
  position: absolute;
	width: 600px;
	top: 0px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
	z-index: 100;
	border-radius: 5px;
}

#topMenus:hover{
  background-color: #3f68d9;
  color: white;
}

#topMenus{
  padding-top: 10px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#perspectiveCamSettings p{
  width: 70%;
  margin: auto;
}

#perspectiveCamSettings input{
  width: 70%;
}
#camFovOutput{
  color: white;
  background-color: #313131;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

/* Example styling for a blue button at the bottom of the screen
#modeButton{
  position: absolute;
	z-index: 100;
  font-size: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3f68d9;
	text-align: center;
  width: 200px;
  height: 60px;
  padding-top: 5px;
  margin-left: auto; 
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
}

#modeButton:hover{
  cursor: pointer;
} */

#buildModel, #placeFence{
  position: absolute;
	z-index: 100;
  font-size: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3f68d9;
	text-align: center;
  width: 200px;
  height: 60px;
  padding-top: 5px;
  margin-left: auto; 
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
}

#buildModel, #placeFence:hover{
  cursor: pointer;
}