:root{
  --main-blue-color: #313131;
  --main-bg-color: #1c1c1c;
  --second-bg-color: #1c1c1c;
}

body { 
  margin: 0;
  font-size: 16px;
  color: #f2f2f2;
}

.heading{
  font-size: 25px;
  margin-top: 0px;
  padding: 10px;
  margin-bottom: -2px;
  text-align: left;
}

canvas { 
  display: block; 
}

#menuExpanded, #menuUnexpanded{
  position: absolute;
	top: 0px;
	right: 0px;
	width: 25%;
	max-height: 100vh;
  background-color: var(--main-bg-color);
	text-align: center;
	z-index: 100;
  font-size: 18px;
  display: none;
  border-radius: 0px 0px 0px 10px;
  overflow: auto;
}

#menuUnexpanded{
  display: block;
  height: 40px;
  width: 240px;
  background-color: #212121;
  line-height: 40px;
  border-radius: 0px 0px 0px 10px;
  border: none;
  color: white;
}

#menuUnexpanded:hover{
  text-decoration: underline;
}

.button{
  background-color: var(--main-blue-color);
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  color: white;
}

.button:hover{
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.input{
  background-color: var(--main-blue-color);
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
  color: #f2f2f2;
}

.transformInputsClass{
  width: 70px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.transformCategories{
  margin-left: 10px;
  float: left;
}

#changeColor{
  width: 200px;
  margin: auto;
  margin-top: -10px;
}

#closeMenu{
  width: 220px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #313131;
  color: white;
}

#heirarchy{
  width: 25vw;
  height: 250px;
  background-color: #e7e7e7;
}

#colorSettings{
  background-color: var(--second-bg-color);
  width: 25vw;
  padding-bottom: 10px;
  display: none; /*By default it is hidden, but you can press a button to show it*/
}

#editMode{
  width: 25vw;
}

#toggleEditMode{
  width: 150px;
  margin: auto;
  background-color: #3b3b3b;
  color: white;
}

#transformSettings{
  width: 25vw;
  height: 210px;
  background-color: var(--second-bg-color);
  margin-top: 20px;
}

#topMenus{
  height: 60px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  background-color:rgba(0,0,0,.3);
  color: #dfdfdf91;
  position: absolute;
	width: 600px;
	top: 0px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
	z-index: 100;
	border-radius: 5px;
}

#topMenus:hover{
  background-color: #3f68d9;
  color: white;
}

#topMenus p{
  margin-top: 10px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

.rgbSlider{
  width: 16vw;
}

.rgbColorCode{
  margin-top: 5px;
}

label[for=r], output[for=r]{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  background-color: #eee;
  color: #f00;
}
label[for=g], output[for=g]{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  background-color: #eee;
  color: #0c0;
}
label[for=b], output[for=b]{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  background-color: #eee;
  color: #00f;
}

output[for=r], output[for=g], output[for=b]{
  color: white;
  background-color: #313131;
}

#colorSettingsButton{
  margin: auto;
  width: 175px;
  margin-top: 10px;
  margin-left: 10px;
}

#closeColorSettingsButton{
  width: 175px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
}